version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "deps"
    groups:
      rust-dependencies:
        patterns:
          - "*"
        exclude-patterns:
          - kube
          - k8s-openapi
          - schemars
          - kube-leader-election
      kube:
        patterns:
          - kube
          - k8s-openapi
          - schemars
          - kube-leader-election

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "ci"
    groups:
      actions:
        patterns:
          - "*"

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "docker"
